@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
.nav{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}

.vista{
    height:100vh;
}
.productos{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items:center;
}
.productos__form{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    position: relative;
    /* top:-50px; */
    /* width:300px;
    height:480px; */
    background:#2D2D2D;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    overflow:hidden;
}
.productos__form:before{
   content:'';
   width:280px;
   height:750px;
   right:55%;
   top:-150px;
   transform:rotate(32deg);
   position:absolute;
   background:#161515;
}
.header-title{
    animation-name:texto;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    color:#fff;
    filter: hue-rotate(0deg);
    text-shadow:2px 2px 10px #03e9f4,-2px -2px 10px #03e9f4,2px -2px 10px #03e9f4;
}
.productos__form-campo{
    position:relative;
    width:90%;
    margin-bottom:20px;
}
.productos__form-campo:before{
    transition:.4s;
    position:absolute;
    content:'';
    height:2px;
    background-image: linear-gradient(to right, #5d81d3, #8078de, #ab67de, #d84bd1, #ff00b6);
    box-shadow:0 0 7px 1px blue;
    bottom:0;
    width:0;
}
.productos__form-campo:hover:before{
    width:100%;
}
.input, .area{
    display:block;
    width:100%;
    border:none;
    outline:none;
    padding:0 17px;
    height:31px;
    background:#5A5757;
    color:#fff;
}

.edit {
    height:90px;
    padding:0 12px;
    resize:none;
}
.title{
    font-weight:900;
    color:#13AB94;
}
@keyframes texto {
    0%{
        color:#fff;
        filter: hue-rotate(60deg);
        text-shadow:2px 2px 10px #FF00B6,-2px -2px 10px #FF00B6,2px -2px 10px #FF00B6;
    }
    100%{
        color:#fff;
    filter: hue-rotate(360deg);
    text-shadow:2px 2px 10px #ff0,-2px -2px 10px #ff0,2px -2px 10px #ff0;
    }
}
.button2{
    position: relative;
    display:block;
    z-index:0;
    width:90%;
    height:33px;
    border:none;
    background:#FFEA72;
    letter-spacing:2px;
    font-weight:900;
    overflow:hidden;
}
.button2:before{
    content:'';
    position:absolute;
    width:90%;
    height:33px;
    right:50%;
    top:0;
    background:#F6C582;
    z-index:-1;
    transform:skew(25deg);
}
.span1{
    display:block;
    width:100%;
    height:3px;
    position:absolute;
    top:0;
    background:linear-gradient(to right, #000,#000, #fff);
    right:100%;
    animation-name:raya;
    animation-delay:1s;
    animation-duration:1s;
    animation-iteration-count: infinite;
}
@keyframes raya {
    0%{
        right:100%;
    }
    100%{
        right:-50%;
    }
}
.span2{
    display:block;
    width:3px;
    height:100%;
    position:absolute;
    top:-100%;
    right:0;
    background:linear-gradient(to bottom, #2D2D2D,#2D2D2D,#fff);
    animation-name:raya2;
    animation-duration:1s;
    animation-delay:1.4s;
    animation-iteration-count: infinite;
}
@keyframes raya2 {
    0%{
        top:-100%;
    }
    100%{
        top:100%;
    }
}
.span3{
    display:block;
    width:100%;
    height:3px;
    position:absolute;
    bottom:0;
    left:100%;
    background:linear-gradient(to left, #2D2D2D,#2D2D2D,#fff);
    animation-name:raya3;
    animation-duration:1s;
    animation-delay:1s;
    animation-iteration-count: infinite;
}
@keyframes raya3 {
    0%{
        left:100%;
    }
    100%{
        left:-150%;
    }
}
.span4{
    display:block;
    width:3px;
    height:100%;
    position:absolute;
    top:100%;
    left:0;
    background:linear-gradient(to top, #161515,#161515,#fff);
    animation-name:raya4;
    animation-duration:1s;
    animation-delay:1.4s;
    animation-iteration-count: infinite;

}
@keyframes raya4 {
    0%{
        top:100%;
    }
    100%{
        top:-100%;
    }
}