.flex-container {
    width: 100%;
    padding: 10px 50px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    box-sizing: border-box;

}
.products-container{
    /* background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffffff' fill-opacity='0.24'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}
.title-section{
    padding:10px 0;
    margin:0 !important;
    background:#444442;
    color:#fff;
    text-shadow:2px 2px 10px #0f0,-2px -2px 10px #0f0 ,2px -2px 10px #0f0;
}
.title-section2{
    padding:10px 0;
    margin:0 !important;
    background:#444442;
    color:#fff;
    text-align:center;
    text-shadow:2px 2px 10px #FFFF00,-2px -2px 10px #FFFF00 ,2px -2px 10px #FFFF00;
}
.product-item {
    background-image: linear-gradient(to right top, #2a00ff, #ff009d, #ff0033, #ffa900, #c5ff00);
    display: flex;
    /* position: relative; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 5px 15px;
    border-radius: 8px;
    margin: 10px;
    bottom:0;
    cursor:pointer;
}
.product-item:hover{
    transition: 0.4s;
    bottom:6px;
    box-shadow: 0 0 10px 4px #fff;
}

.img-container {
    height: 150px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.img-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: scale-down;
}

.product-item p {
    color: white;
}

.btn-buy {
    font-weight:bold;
    margin-bottom:3px;
    border-radius: 6px;
    padding: 5px 10px;
    background: rgb(172, 236, 43);
    color: black
}

.btn-details {
    font-weight:bold;
    border-radius: 6px;
    padding: 5px 10px;
    background: rgb(25, 186, 250);
    color: black
}